<%- include('./partials/headers'); -%>
    
<header class="d-flex justify-content-around masthead text-white text-center container" style="background: url('bg-masthead.jpg')no-repeat center center;background-image: url(' ');background-color: #ffffff;">
   <div class="container">
       <div class="text-left row intro-card">
           <div class="d-flex flex-column justify-content-center intro-para">
               <h1 class="text-left text-dark" style="padding-bottom: 10px;">manifest your dream and<br />build your Start-up idea into reality</h1>
               <p class="lead text-dark" style="padding-bottom: 20px;">with the help of our awesomely skillfull product devoloping freelancers,<br />build and take your product into the market</p>
               <div class="linkstopages row">
                   <div class="forInnovators col">
                       <h6 class="text-center text-dark" style="padding-bottom: 10px;">for innovators </h6>
                       <h6 class="text-center text-dark">Hire developers </h6>
                   </div>
                   <div class="forDevolopers col">
                       <h6 class="text-center text-dark" style="padding-bottom: 10px;">for Devolopers</h6>
                       <h6 class="text-center text-dark">apply to be a part of our tribe </h6>
                   </div>
               </div>
           </div>
           <div class="intro-img"><img src="../public/assets/undraw_collaborators_prrw.png" style="width: 350px;" /></div>
       </div>
   </div>
</header>
<section class="showcase container">
   <div class="container-fluid p-0">
       <div class="row no-gutters">
           <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('undraw_Creation_process_ukbh.svg');"><span></span></div>
           <div class="col-lg-6 my-auto order-lg-1 showcase-text">
               <h1>How does it work?</h1>
               <p class="lead mb-0" style="font-size: larger;">decide wheather you want to build your product with no-code tools<br />or want someone who can code for youif you are unable to figure out <a href="http://127.0.0.1:5500/index.html">contact us</a> we will help you</p>
           </div>
       </div>
       <div class="row no-gutters">
           <div class="col-lg-6 text-white showcase-img" >
              <img src="../public/assets/undraw_placeholders_rklh.png" alt="">
           </div>
           <div class="col-lg-6 my-auto order-lg-1 showcase-text">
               <h2>Full-stack Developers</h2>
               <p class="lead mb-0" style="font-size: larger;">work with our expierenced full stack developers who are highly motivated to build products </p>
           </div>
       </div>
       <div class="row no-gutters">
           <div class="col-lg-6 order-lg-2 text-white showcase-img" >
         <img src="../public/assets/undraw_online_posts_h475.png" alt=""></div>
           <div class="col-lg-6 my-auto order-lg-1 showcase-text">
               <h2>No-Code Developers</h2>
               <p class="lead mb-0">our insanely talented no-code devolopers can built obsulutely anything without using single line of code  </p>
               <p class="lead mb-0">Built full scale mock-ups in less than 24 hours</p>
           </div>
       </div>
   </div>
</section>
<div class="newsletter-subscribe">
   <div class="container">
       <div class="intro">
           <h2 class="text-center">Subscribe for our Newsletter</h2>
           <p class="text-center">Get the latest updates about no-code tools and all the project posted in the website </p>
       </div>
       <form class="form-inline" method="post">
           <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Your Email" /></div>
           <div class="form-group"><button class="btn btn-primary" type="submit">Subscribe </button></div>
       </form>
   </div>
</div>
<div class="footer-clean">
   <footer>
       <div class="container">
           <div class="row justify-content-center">
               <div class="col-sm-4 col-md-3 item">
                   <h3>Services</h3>
                   <ul>
                       <li><a href="#">Web design</a></li>
                       <li><a href="#">Development</a></li>
                       <li><a href="#">Hosting</a></li>
                   </ul>
               </div>
               <div class="col-sm-4 col-md-3 item">
                   <h3>About</h3>
                   <ul>
                       <li><a href="#">Company</a></li>
                       <li><a href="#">Team</a></li>
                       <li><a href="#">Legacy</a></li>
                   </ul>
               </div>
               <div class="col-sm-4 col-md-3 item">
                   <h3>Careers</h3>
                   <ul>
                       <li><a href="#">Job openings</a></li>
                       <li><a href="#">Employee success</a></li>
                       <li><a href="#">Benefits</a></li>
                   </ul>
               </div>
               <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                   <p class="copyright">Company Name © 2020</p>
               </div>
           </div>
       </div>
   </footer>
</div>


 <%- include('./partials/footer') ; -%>
